In [1]:
import pandas as pd

In [2]:
data = [{"first" : "wow", "second" : "steve"}, {"first" : "harry", "second" : "garbsdfs"}]

In [3]:
df = pd.DataFrame(data)

In [4]:
df

   first    second
0    wow     steve
1  harry  garbsdfs

TypeError: 'numpy.ndarray' object is not callable

In [14]:
df['first'].unique()

array(['wow', 'harry'], dtype=object)